/*!
* FirstFactory Team
* Manuel Rojas
* GBQ v.0.0.1
*
*/

@font-face {font-family: HelveticaNeue; src: url('../fonts/HelveticaNeue.ttf')}
@font-face {font-family: MyriadBold; src: url('../fonts/myriadprobold.ttf')}
@font-face {font-family: MyriadRegular; src: url('../fonts/myriadproregular.ttf')}


body {
	font-family: HelveticaNeue, Arial, sans-serif;
}

a {
	text-decoration: none;
}


/*Utils*/

.center {
  margin: 0 auto;
}

.round-score {
  background: #1c3664;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border:20px solid #74ccd0;
  text-align: center;
  position: relative;
}


.round-score .title {
    color: white;
    font-size: 12px;
    top: 10px;
    left: 20px;
    position: absolute;

}

.round-score .number {
    position: absolute;
    top: 30px;
    left: 40px;
    color: white;
    font-size: 3em;
}

.round-score .number sup {
    color: #9da6b1;
    font-size: 24px;
}


/*Icon styles*/
.icon {
    float:left;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin: 4px 8px;
    line-height: 14px;
    vertical-align: text-top;
}

.icon-kaplan {
    background: url(../img/sprite.png) 0 -1px no-repeat;
}
.icon-kaplan-login{
    background: url(../img/sprite.png) 0 -180px no-repeat;
    float: none;
    height: 100px;
    width: 90px;
}
.icon-settings {
    background: url(../img/sprite.png) -38px 0px no-repeat; 
    float: right;   
}
.icon-youtube {
    background: url(../img/sprite.png) -3px 0px no-repeat;      
}

.icon-dashboard {
    background: url(../img/sprite.png) -175px 0px no-repeat;
    float: none;
}

.icon-quiz {
    background: url(../img/sprite.png) -215px 0px no-repeat;
    float: none;
}

.icon-class {
    background: url(../img/sprite.png) -255px 0px no-repeat;
    float: none;
}

/* Login page styles */

div.login {
    font-family: myriadregular;
    color: #ACACAC;
    margin: 10px;
}

div.login input[type="text"],
div.login input[type="password"] {
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 5px;
}

div.login input[type="text"]{
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

div.login input[type="password"]{
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
}
div.ui-input-text {
    margin: 0;
    padding: 0;
}

.login-header{
    width:100%;
}

.login-text-center{
    text-align:center;
}

/*GBQ Styles*/
.ui-bar-a {
	background-color: #efeeee;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button {
	font-family: HelveticaNeue, Arial, sans-serif;
}

.ui-header h1 {
	color: #6d6c6c;
	font-weight: 400;
	text-shadow: 0px 1px 0 #fff;
}





/*Buttons*/
.btn {
  padding: 2px 10px;
  margin-bottom: 0;
  font-size: 14px !important;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
}


.btn-fb {
  color: #ffffff;
  background-color: #66669a;
  border-color: #357ebd;
}

.btn-fb:hover,
.btn-fb:focus,
.btn-fb:active,
.btn-fb.active {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}


.btn-kaplan {
  color: #ffffff;
  background-color: #bece30;
  border-color: #bacc11;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-kaplan:hover,
.btn-kaplan:focus,
.btn-kaplan:active,
.btn-kaplan.active {
  color: #ffffff;
  background-color: #baca21;
  border-color: #bacc11;
}

.ui-header{
    padding: 5px;
}

.ui-footer table{
    font: MyriadBold;
    font-size: 12px;
    color: #ffffff;
    height: 80px;
    text-align: center;
    width: 100%;
}

.ui-footer td{
    width: 33.33%;
}

.ui-footer td.dashboard{
    background-color: #10b9d6;
}

.ui-footer td.quiz{
    background-color: #f7a748;
}

.ui-footer td.clazz{
    background-color: #624da0;
}